
.catico {
  width: 35px;
  height: 35px;
  padding-bottom:3px;
}

.navbar {
  position: relative;
}

.navbar-brand{
  padding:10px 15px
}
.fas{
  font-size:25px;
  padding-left:20px;
  padding-right: 20px;
  padding-top:11px;
}

.navbar-nav li {float:none; display:inline-block; vertical-align:bottom;}

.navbar-form .form-control {
    position: relative;
}

.navbar-form .form-control:before {
    content:'';
    display: block;
    width: 14px;
    height: 14px;
    background-image: url(http://getbootstrap.com/2.3.2/assets/img/glyphicons-halflings.png);
    background-position: -48px 0;
    position: absolute;
    top:8px;
    left:8px;
    opacity: .5;
    z-index: 1000;
}

/*barra lateral contactos*/
.contacts{
	border: 1px solid #CBCBCB;
	height: auto;
  margin-top: 1.5%;
  border-radius: 0.5em;
}

.contact{
	margin-top: 5%;
  margin-bottom: 5%;
}

.nameContact{
	margin-top: 5%;
}

.perfilNewPost img{
	width: 100%;
	border-radius: 50%;
}

.contacts img{
	width: 100%;
	height: 3.2em;
	border-radius: 50%;

}

/*Post Nuevo*/
.newPost{
  border: 1px solid #CBCBCB;
  padding: 2em;
  margin-top: 3%;
  margin-bottom: 4%;
  border-radius: 0.5em;
}

.newPost img{
  width: 100%;
  border-radius: 50%;
}

.textareaNewPost{
  padding: 0;
}

.textareaNewPost button{
  margin-top: 1%;
}

.imgUser{
  padding: 0;
}

/*seccion publicaciones*/

#comment{
	margin-top: 1%;
  border: none;
}

.post{
	border: 1px solid #CBCBCB;
	border-radius: 0.5em;
  margin-bottom: 5%;
}

.post img{
	width: 100%;
  border-radius: 0.5em;	
}

.postAuthor img{
  width: 80%;
  border-radius: 50%;
  margin-top: 20%; 
  margin-bottom: 20%;
}

.photoProfile{  
  padding: 0;
}

.name{
  padding: 0;
  margin-top: 2%;
}
