/*modal inicio*/
.panel-heading {
    padding: 5px 15px;
}

.panel-footer {
  padding: 1px 15px;
  color: #A0A0A0;
}

h4{
  margin:0;
}
.profile-img {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/*modal fin*/
body, html {
    height: 100%;
    margin: 0;
}

.inicio {
  background: url("../img/catlogimg.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

.catbooktxt {
  text-align: center;
  margin-top:15%;
  color: #fff;
  font-size: 70px;
}

.login{
  padding-top: 5%;
}
.signupb,.loginb{
  width:50vh;
  margin-top:10px;
}
/*login page fin*/
/*menu*/
.catico {
  width: 35px;
  height: 35px;
  padding-bottom:3px;
}

.navbar-brand{
  padding:10px 15px
}
.fas{
  font-size:25px;
  padding-left:20px;
  padding-right: 20px;
  padding-top:11px;
}

.fas:hover{
  cursor: pointer;
}

.searchico {
  font-size: 20px;
}

.user img{
  width: 12%;
}

/*barra lateral contactos*/
.contacts{
	border: 1px solid #CBCBCB;
	height: auto;
  margin-top: 1.5%;
  border-radius: 0.5em;
}

.contacts h4{
  margin-top: 5%;
}

.contact{
  margin-top: 5%;
  margin-bottom: 5%;
}

.contact:hover{
  filter: brightness(0.8);
  background-color: rgba(79, 79, 79, 0.20);
  cursor: pointer;
}

.nameContact{
  margin-top: 5%;
}

.perfilNewPost img{
  width: 100%;
  border-radius: 50%;
}

.contacts img{
  width: 100%;
  height: 3.2em;
  border-radius: 50%;

}

/*Post Nuevo*/
.newPost{
  border: 1px solid #CBCBCB;
  padding: 2em;
  margin-top: 3%;
  margin-bottom: 4%;
  border-radius: 0.5em;
}

.newPost img{
  width: 100%;
  height: 6.2em;
  border-radius: 50%;
}

.textareaNewPost{
  padding: 0;
}

.textareaNewPost button{
  margin-top: 1%;
}

.publish{
  float: right;
}

.imgUser{
  padding: 0;
}

/*seccion publicaciones*/
#comment{
  margin-top: 1%;
  border: none;
}

.post{
  border: 1px solid #CBCBCB;
  border-radius: 0.5em;
  margin-bottom: 5%;
}

.post img{
  width: 100%;
  border-radius: 0.5em;
}

.postAuthor img{
  width: 80%;
  border-radius: 50%;
  margin-top: 20%;
  margin-bottom: 20%;
}

.postAuthor img:hover{
  cursor: pointer;
}

.photoProfile{
  padding: 0;
}

.name{
  padding: 0;
  margin-top: 2%;
}

.like{
  font-size: 2.3em;
  margin-top: 2.5%;
  margin-bottom: 2%;
}

.like:hover{
  cursor: pointer;
}

/*menu responsive inferior*/
.menuBottom span{
  font-size: 1.5em;
}

.menuBottom li:first-child{
  margin-left: 10%;
}

.menuBottom li{
  margin-left: 3%;
}

.friends img{
  width: 12%;
}

/*foto portada*/
.backgroundImg{
  background-image: url(../img/fondogatos2.jpg);
  background-size: cover;
  background-position: 0 45%;
  background-repeat: no-repeat;
  height: 30em;
}

.profilePicture img{
  width: 100%;
  border-radius: 50%;
  margin-top: 30%;
  height: 32em;
}

.description{
  margin-top: 12%;
}

.publication img{
  width: 100%;
  border-radius: 0.5em;
  margin-bottom: 15%;
}

.publication img:hover{
  filter: brightness(0.8);
}

/*media queries*/
@media (max-width: 767px){
  .post{
    margin-bottom: 10%;
  }

  .profilePicture img{
    width: 100%;
    height: 8.5em;
  }

  .publication img{
    margin-bottom: 20%;
    border-radius: 0.5em;
  }

  .backgroundImg{
    height: 10em;
  }
}

@media (max-width: 767px){
  .newPost img{
    margin-bottom: 10%;
  }
}